<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cec.zbgl">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/nba"
        android:label="备品管理"
        android:roundIcon="@mipmap/nba"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.CourseActivity" />
        <activity android:name=".activity.ContentActivity" />
        <activity android:name=".thirdLibs.zxing.activity.CaptureActivity" />

        <!-- FileProvider配置访问路径，适配7.0及其以上 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.DemoActivity" />
        <activity android:name=".activity.UserActivity" />
        <activity android:name=".activity.WXActivity" />
        <!-- <activity android:name=".activity.HomeActivity"/> -->
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.VideoActivity" />
        <activity android:name=".activity.MediaActivity"></activity>
    </application>

</manifest>